@import "tailwindcss";

:root {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-inter: "Inter", sans-serif;
  --red: #ff0000;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  color: #fff;
}

.scroll-container {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

.font-bebas {
  font-family: var(--font-bebas);
}
.font-inter {
  font-family: var(--font-inter);
}

.b-b {
  border: 1px solid blue !important;
}

.b-r {
  border: 1px solid red !important;
}
